###############################################################################
# MacOS
###############################################################################

.DS_Store

###############################################################################
# IntelliJ
###############################################################################

/.idea

###############################################################################
# Visual Studio Code
###############################################################################

/.vscode

###############################################################################
# npm
###############################################################################

/node_modules

###############################################################################
# dotenv
###############################################################################

.env

###############################################################################
# Terraform
###############################################################################

**/.terraform/*
*.tfstate
*.tfstate.*
.tf-user-*-key.json

###############################################################################
# generated
###############################################################################

/dist
/lib
/out
